
@{
    ViewData["Title"] = "Purchases";
    List<ShoppingCart.Models.Item> items = (List<ShoppingCart.Models.Item>)ViewData["items"];
}

@section Scripts {
    <script src="~\js\Gallery\Gallery.js"></script>
}

<style>
    .my_purchaselist {
        text-align: center;
        border: 1px solid #000000;
        padding: 5px;
        background-color: whitesmoke;
        display: inline-block;
        width: 300px;
        margin-left: 50px;
        height: fit-content;
        float: left;
    }

    .outerspace{
        width: 50%;
    }

    .mu_puchasedinfo {
        text-align: right;
        float: right;
        margin-left: 100px;
        padding: 50px;
        white-space: pre-line;
        margin-bottom: 10px;
        width: 50%;
    }
</style>


<div class="row" style="width:1110px ;margin-left:1px">
    
    @foreach (ShoppingCart.Models.Item item in items) //To be changed with purchased items once ready
    {
        <div class="outerspace">
            <div class="my_purchaselist">
                <img src="@item.ImageUrl" width="200" height="120" />
                <h3>@item.Name</h3>
                <p>@item.Description</p>
            </div>
        </div>
        
        <div class="my_purchasedinfo">
            <h3>Purchased On:</h3>
            <h3>Quantity:</h3>
            <h3>Activation Code:</h3>
        </div>
       //Edits
    }
</div>