@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <table width="100%" border="3" cellspacing="0">
        <tr height="50">
            <td colspan="3"> Review History </td>
        </tr>

        <tr height="50">
            <td width=20%> Item </td>
            <td width=20%> PurchaseDate </td>
            <td width=40%> ReviewContent </td>
            <td width=20%> UserId </td>
        </tr>

        <tr height="50">
            <td colspan="3"> Footer Section </td>
        </tr>

    </table>
